.todo-card {
    display: grid;
    grid-template-columns: 1fr auto;
    border: 2px solid #ccc;
    gap: 1rem;
    padding: 1rem;
    transition: all .3s;
}

.todo-card.completed {
    border-color: #00853E;
    background-color: rgba(0, 133, 62, .35);
}

.todo-card p {
    margin: 0;
}

.todo-card__controls {
    display: grid;
    gap: 1rem;
}

.remove {
    background-color: #c12727;
    color: #fff;
}

.toggle {
    background-color: #00853E;
    color: #fff;
}